@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
* {
  font-family: "Cal Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #efefef;
    overflow: hidden;
}

.container_form{
    background: white;
    position: absolute;
    width: 60%;
    height: 70%;
    overflow: hidden;
    
}

form{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.cad_form{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}


.input_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_form input{
    border: 1px solid black ;
    color: #000000;
    padding: 15px;
    margin: 8px 0;
    width: 250px;
    outline: none;
}

.input_form input:focus{
    background: rgba(81, 81, 81, 0.25);
}


.input_form a{
    text-decoration: none;
    margin: 8px 0;
    color: black;
    font-size: 14px;
    font-weight: 400;
}

 .input_form button {
    color: white;
    background-color: #000000;
    border: none;
    padding: 15px 20px;
    font-size: 1.3em;
    box-shadow: 8px 8px 0px #4c4c4c;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
.input_form button:hover {
    padding: 14px 18px;
    box-shadow: none;
    transform: scale(0.95);
  }

.entrar_form{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
}

.efeito button {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    padding: 15px 20px;
    font-size: 1.3em;
    box-shadow: 8px 8px 0px #4c4c4c;
    transition: all 0.3s ease;
  }
  
.efeito button:hover {
    padding: 14px 18px;
    box-shadow: none;
    transform: scale(0.95);
  }

.efeito_esquerda{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center; 
    text-align: center;
    position: absolute;
    font-weight: 600;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    background-color: black;
    color: #fff;
  transition: all 0.5s;
}

.efeito_direita{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center; 
    text-align: center;
    position: absolute;
    font-weight: 600;
    right: 0;
    width: 50%;
    height: 100%;
  background-color: black;
    color: #fff;
  transition: all 0.5s;
}

.container_form.active .entrar_form {
    transform: translateX(100%);
    opacity: 0;
}

.container_form.active .cad_form {
    transform: translateX(100%);
    opacity: 1;
    z-index: 9;
}

.container_form.active .efeito_direita {
    transform: translateX(-100%);
    opacity: 0;
}

.container_form.active .efeito_esquerda {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 9;
}
form h1{
    font-weight: 600;
    color: black;
}
.efeito_esquerda p,
.efeito_direita p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 20px 0;
    color: rgb(255, 255, 255);
}

.erro{
    color: red;
    font-size: 0.6em;
}